.swiper-slide-thumb-active > button > span::before{
    content:"";
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
    z-index:-12;
    opacity: 0.2;
    background-color: rgb(83, 121, 190) !important;
}