.text-field {
    position: relative;
    width: 100%;
    margin: 20px auto;
}

.input {
    width: 100%;
    padding: 8px 12px;
    font-size: 16px;
    border: none;
    outline: none;
    background: transparent;
}

.default-underline{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #ccc;
    z-index: -1;
}

.underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #1976d2;
    transform-origin: center;
    transform: scaleX(0);
    transition: 0.2s ease transform;
}

.input:focus + .underline {
    transform: scaleX(1);
    color: #1976d2;
}

.search-btn{
    font-size: 1.5em !important;
}

.custom-options{
  transition: all 150ms ease-in-out;
}


/* Media queries for responsiveness */
@media (min-width: 0px) and (max-width: 320px) {
    /* .text-field {
        width: 90%;
    } */
    .RadioGroup *, .custom-options *{
      font-size: 8px !important;
    }
    .search-container > * {
        font-size: 14px !important;
    }
}

  
  @media (min-width: 321px) and (max-width: 480px) {
    /* {
        width: 440px;
    } */
    .RadioGroup *, .custom-options *{
      font-size: 12px !important;
    }
    .search-container * {
      font-size: 18px !important;
    }
  }

  @media (min-width: 481px) and (max-width: 600px) {
    /* {
        width: 540px;
    } */
    .RadioGroup *, .custom-options *{
      font-size: 18px !important;
    }  
    .search-container * {
      font-size: 24px !important;
    }
  }
  
  @media (min-width: 601px) and (max-width: 768px) {
    /* {
        width: 740px;
    } */
    .RadioGroup *, .custom-options *{
      font-size: 22px !important;
    }
    .search-container * {
      font-size: 32px !important;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1042px) {
    .RadioGroup *{
      font-size: 30px !important;
    }
    .search-container * {
      font-size: 42px !important;
    }
  }
  @media (min-width: 1043px){
    .RadioGroup *{
      font-size: 32px !important;
    }
    .search-container *{
      font-size: 64px !important;
    }
  }

